html {
  font-size: 20px;

}

.navbar-brand img {
  width: 170px;
}
li {
  padding: 0 0px;
}

body {
  font-size: 15px;
  font-weight: 400;
  color:rgb(255, 0, 0);
  background-color: rgb(255, 0, 64);
  min-width: 320px;
}



.navbar-collapse a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
  transition: all .3s;
  transform: scale(0);
}

.navbar-collapse li a:hover::after {
  transform: scale(1) ;
}

.ms-1 {
  padding: 20px;
}

.ms-1 a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
  transition: all .3s;
  transform: scale(0);
}

.ms-1 a:hover::after {
  transform: scale(1) ;
}



.container {
  margin-bottom: 0px;
}

.dropdown {
  width: 100px;
}

.nav-item {
  font-size: 25px;
  margin-left: 5px;

}

.list-unstyled {
  font-size: 25px;

}

.container1 {
  width: 170px;
}

.form-group {
  padding: 5px;
  margin-left: 630px;
  width: 576px;
}


.com {
  padding: 20px 0;
}

.h2 {

}

